.idea/
*.iml
*.yaml
*.toml
*/*.iml
*.ipr
*/*.ipr
*.iws
*/*.iws
*/*.log
*/target/
*.DS_Store
.DS_Store
/.DS_Store
*.project
*/data/
*/logs/
/bin
/temp
/tmp
*.log
VERSION
runtime
test.file
test.txt
test2.txt
renamed2.txt
linked-storage-api-helm-chart.txt
test3.file
gcscmd_linux
testdata/script/hello.txtar
test.dat
test2.dat
5mb.dat
gcscmd_linux
gcscmd
script_test
testdata
mytest.sh
chainstorage-cli
import_testscript.sh
logs/
uploading